<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi, minimal-ui" />
    <title>修改个人信息</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
	<img src="../images/loading.gif" alt="">
    <div class="load"></div>
    <script src="../js/libs/jquery/1.11.3/jquery-1.11.3.min.js"></script>
    <script src="../js/libs/seajs/2.3.0/sea.js"></script>
    <script src="../js/plus/test/config.js"></script>
    <script>seajs.use('../js/plus/test/main');</script>
</body>
</html>
